<div class="card" style="width:10rem;">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de" class="form-label">De</label>
                <input type="number" id="de" class="form-control">
            </div>
            <div class="form-group">
                <label for="ate" class="form-label">Até</label>
                <input type="number" id="ate" class="form-control">
            </div>
            <button type="button" class="btn btn-primary btn-block btn-sm my-2">Filtrar</button>
        </form>    
    </div>
</div>

