<!-- Menu do sistema de e-commerce -->
<div class="d-flex flex-column flex-md-row align-items-center pb-1 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none m-1" title="navbar">
        <ecom-header></ecom-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Produtos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <a class="btn btn-outline-primary me-3 my-1" href="#">Sign-up</a>
</div>